
*.aux

*.toc

*.out

*.log

*.lof

*.ist

*.glo

*.blg

*.bbl

*.tex

*.bib

tmp/document.run.xml

images/brennweite.png

images/beuth_logo.jpg

images/blende.png

images/Lytro_light_field_camera.jpg

document.pdf

*.acn

*.sh

.texlipse

*.prefs

.project

.DS_Store

*.png

*.glg

*.gls
